<section style="position:fixed;width:100%;height:100%;overflow:hide;">
	<nav class="navbar navbar-default nav-custom" role="navigation" style="padding-top:10px;">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="https://github.com/sriramveeraghanta/collabcode">Github</a></li>
				<li>|</li>
				<li><a href="/" >Home</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	<div class="container" style="">
		<h3>CollabCode</h3>
		<p>CollabCode is an online code editor that lets people collaborate in real-time. Share your code in specific url in a collaborative working environment.
		</p>
		<h3>How it works</h3>
		<p>1. Clone the project</p> 
		<p>2. Install npm packages using npm install command</p>
		<p>3. Run the project using npm start</p>

	</div>
	<footer class="footer" style="position:absolute;bottom:0;">
		<div class="container" style="padding:20px;">
			<p style="display:inline-block;">CollabCode is a thing made by <a href="https://github.com/sriramveeraghanta">Sriram Veeraghanta</a> and wonderful Opensource <a href="https://github.com/sriramveeraghanta/collabcode#contributors">Contributors</a></p>
		</div>
	</footer>
</section>