
<style type="text/css">

.CodeMirror{
	border:1px solid #eee;
}
</style>

<div class="container" style="padding-top:20px;">
<p style="text-align:center"><a href="/" >Home</a></p>
<hr><br>
<h2 style="text-align:center">Start typing your code</h2>

<section class="row">
	<textarea id='pad' name="pad"> </textarea>
</section>

<h3 style="text-align:center"> Share ur code @ /editor/{{id}}</h3>

</div>
